@model WA_Blogers_MVC.Models.WA_Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}

<h2>Chi tiết quyền "@Model.RoleName"</h2>

<div>
    <h4>@Model.Description</h4>
    <hr />
    <h3>Danh sách các nhóm có phân quyền</h3>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Tên nhóm</th>
            <th>Mô tả</th>
        </tr>

        @{int i = 0;}
        @foreach (var item in Model.WA_GroupUser)
        {
            <tr>@i++</tr>
            <tr>@item.Name</tr>
            <tr>@item.Description</tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
