@{
    ViewBag.Title = "Blogs Nhóm 1";
    Layout = "";
}
@using WA_Blogers_MVC.Models;
@{
    var db = new WA_BlogerEntities();
}
<!DOCTYPE html>
<html>

<head>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <!-- Font Awesome Icons -->
    @Styles.Render("~/Content/font-awesome.min.css")
    @* Bundles assume jquery 2.1.3 and Bootstrap 3 *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/test/style.css")
    @* @Scripts.Render("~/Scripts/test/script.js")*@
    <script>
        $(function () {
            $('.navigation-button').click(function () {
                $('.navigation .widget-content').slideToggle();
                $(this).toggleClass('active');
            });
            $('.dropdown-button').click(function () {
                $('.dropdown .widget-content').slideToggle();
                $(this).toggleClass('active');
            });
        });
    </script>
</head>

<body class="index">
    <div class="inner" id="outer-wrapper">
        <div class="tl-headerwrap" id="header-wrapper">
            <div class="header-section header-contents">
                @* Top nav *@
                <div class="topnav">
                    <div class="topnav-block" style="width: 100%; padding-left: 0; margin-left: 0;">
                        <div class="navigation section" id="StaticPages">
                            <div class="widget PageList" data-version="1" id="PageList1">
                                <h2>Pages</h2>
                                <div class="navigation-button"></div>
                                <div class="widget-content">
                                    <ul>
                                        <li class="selected"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="#">Liên Hệ</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-topsocial section" id="Socialicons">
                            <div class="widget HTML" data-version="1" id="HTML118">
                                <div class="widget-content">
                                    <div class="top-social">
                                        <ul class="tl-social-icons icon-flat list-unstyled list-inline" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-github"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>

                </div>
                @* Logo mid *@
                <div class="tl-midheader">
                    <div class="inner">
                        <header class="main-header" id="header-space" itemscope="" itemtype="http://schema.org/WPHeader">
                            <div class="header-inner" id="nav-branding">
                                <div class="header section" id="BlogHeader">
                                    <div class="widget Header" data-version="1" id="Header1">
                                        <div id="header-inner">
                                            <h2 itemprop="name">
                                                <a href="@Url.Action("Index", "Home")" style="display: block">
                                                    <img alt="Nhóm 8 - CTK37" height="90px; " id="Header1_headerimg" itemprop="logo" src="@Url.Content("~/Public/Logo.jpg")"
                                                         style="display: block" width="300px; "><span>Nhóm 8 - CTK37</span>
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        
                            @{
                                var option = db.WA_Options.Where(x => x.Name == "timeclock").FirstOrDefault();
                                if (option != null)
                                {
                                    @Styles.Render("~/Content/FlipClock/flipclock.css")
                                    ;
                                    @Scripts.Render("~/Scripts/FlipClock/flipclock.min.js")
                                    ;
									@*<div class="clock" style="margin:0px;width:460px;float:right;max-height: 90px;" ></div>*@
                                    @Html.Raw(new HtmlString(option.Value))
                                    <div class="clear"></div>
                                    <script type="text/javascript">
                                        var clock;
                                        $(document).ready(function() {
                                            clock = $('.clock').FlipClock({
                                                clockFace: 'TwentyFourHourClock'
                                            });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <div class="adbanner section" id="Ad728x90">
                                        <div class="widget HTML" data-version="1" id="HTML198">
                                            <div class="widget-content">
                                                <a href="#" target="_blank">
                                                    <img src="https://3.bp.blogspot.com/-CfD9IY5Rjvg/V1ZIDx9aWmI/AAAAAAAAAfw/BKAqbCxVwnkx7g6xrb9PEf05LXE-JL1uwCLcB/s1600/mp-728.png"
                                                         alt="themelet">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                }
}
                            
                        
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div class="main-navigation">
                    <div class="dropdown section" id="MainNavigation" style="width: 100%; padding-left: 0; margin-left: 0;">
                        <span class="dropdown-button"><i class="fa fa-bars"></i> Navigation</span>
                        <div class="widget HTML" data-version="1"
                             id="HTML18">
                            <div class="widget-content">
                                <nav class="mainnavs">
                                    @Html.Action("MainMenu", "Blogs")
                                </nav>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Body *@

        @RenderBody()
        
    </div>
</body>

</html>
