@using WA_Blogers_MVC.Models;
@{WA_BlogerEntities db = new WA_BlogerEntities();}
<div class="tl-headerwrap" id="header-wrapper">
    <div class="header-section header-contents">
        @* Top nav *@
        @{
            var listTopNav = db.WA_Options.Where(x => x.Group.Equals("Topnav")).ToList();
            var listsocial = db.WA_Options.Where(x => x.Group.Equals("TopnavSocical")).ToList();
            var display = listsocial.Count > 0 || listTopNav.Count > 0 ? "" : "none";
        }
        
            <div class="topnav" style="display:@display; ">
                <div class="topnav-block" style="width: 100%; padding-left: 0; margin-left: 0;">
                    <div class="navigation section" id="StaticPages">
                        <div class="widget PageList" data-version="1" id="PageList1">
                            <h2>Pages</h2>
                            <div class="navigation-button"></div>
                            <div class="widget-content">
                                <ul id="topMenuNav">
                                    @{

                                        if (listTopNav != null)
                                        {
                                            for (int i = 0; i < listTopNav.Count; i++)
                                            {
                                                <li><a href="@listTopNav[i].Value">@listTopNav[i].Name</a></li>
                                            }
                                        }
                                    }
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-topsocial section" id="Socialicons">
                        <div class="widget HTML" data-version="1" id="HTML118">
                            <div class="widget-content">
                                <div class="top-social">
                                    <ul class="tl-social-icons icon-flat list-unstyled list-inline" id="listsocial" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                                        @{

                                            if (listsocial != null)
                                            {
                                                for (int i = 0; i < listsocial.Count; i++)
                                                {
                                                    <li>
                                                         <a href="@listsocial[i].Value"><i class="fa @("fa-"+listsocial[i].Name)"></i></a>
                                                   </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>

            </div>
        @* Logo mid *@
        <div class="tl-midheader">
            <div class="inner">
                <header class="main-header" id="header-space" itemscope="" itemtype="http://schema.org/WPHeader">
                    <div class="header-inner" id="nav-branding">
                        <div class="header section" id="BlogHeader">
                            <div class="widget Header" data-version="1" id="Header1">
                                <div id="header-inner">
                                    <h2 itemprop="name">
                                        @{
                                            var logo = db.WA_Options.Where(x=>x.Name.Equals("logo")).Select(x => x.Value).FirstOrDefault();
                                        }
                                        <a href="@Url.Action("Index", "Home")" style="display: block">
                                            <img alt="Nhóm 8 - CTK37" height="90px; " id="Header1_headerimg" itemprop="logo" src="@Url.Content("~/Public/"+logo)"
                                                 style="display: block" width="300px; "><span>Nhóm 8 - CTK37</span>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                @{
                    var option = db.WA_Options.Where(x => x.Name == "timeclock").FirstOrDefault();
                    if (option != null)
                    {
                        @Styles.Render("~/Content/FlipClock/flipclock.css")
                        @Scripts.Render("~/Scripts/FlipClock/flipclock.min.js")
                       
                        @Html.Raw(new HtmlString(option.Value))
                        <div class="clear"></div>
                        <script type="text/javascript">
                            var clock;
                            $(document).ready(function () {
                                clock = $('.clock').FlipClock({
                                    clockFace: 'TwentyFourHourClock'
                                });
                            });
                        </script>
                    }
                    else
                    {
                        var link = db.WA_Options.Where(x => x.Group.Equals("Ads") && x.Name.Equals("AdsLink")).Select(x => x.Value).FirstOrDefault();
                        var image = db.WA_Options.Where(x => x.Group.Equals("Ads") && x.Name.Equals("AdsImage")).Select(x => x.Value).FirstOrDefault();
                        <div class="adbanner section" id="Ad728x90">
                            <div class="widget HTML" data-version="1" id="HTML198">
                                <div class="widget-content">
                                    <a href="@(link==null?"#":link)" target="_blank">
                                        <img src="@(link==null?"#":Url.Content("~/Public/"+ image))"  alt="themelet">
                                    </a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                }


                <div style="clear: both"></div>
            </div>
        </div>
        <div class="main-navigation">
            <div class="dropdown section" id="MainNavigation" style="width: 100%; padding-left: 0; margin-left: 0;">
                <span class="dropdown-button"><i class="fa fa-bars"></i> Navigation</span>
                <div class="widget HTML" data-version="1"
                     id="HTML18">
                    <div class="widget-content">
                        <nav class="mainnavs">
                            @Html.Action("MainMenu", "Blogs")
                        </nav>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

