@model WA_Blogers_MVC.Models.WA_Blogs

@{
    ViewBag.Title = "ThemBlogMoi";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <table class="table table-hover table-striped ">
        <tr>
            <td><h2><b>Thêm Blog</b></h2></td>

        </tr>
        <tr>
            <td>
                @*<div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true)*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                @*</div>*@
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Parent, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Parent", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Parent)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Order, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Order)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.Active, new { data_toggle = "toggle", @class = "toggle-active" })
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
            </td>
        </tr>
    </table>
       
   
        @*</div>*@
    <div class="form-group form-inline">
    <div class="col-xs-2" style="padding:2px">
        <input type="submit" value="Thêm Blog" class="btn btn-block btn-primary" />
        </div>
        <div class="col-xs-2" style="padding:2px">
    <a href="@Url.RouteUrl("QuanLyBlog") " type=" button" class="btn btn-block btn-default" data-dismiss="modal">Quay lại</a>
</div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
