@model WA_Blogers_MVC.Models.WA_Blogs

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}
<h2>Xóa Blog</h2>
<h3>Bạn có chắc muốn xóa Blog này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /><span>&nbsp;</span>
    @Html.ActionLink("Quay lại", "Index",null, new { @class="btn btn-default"})
</div>
    }
</div>
