@using WA_Blogers_MVC.Models;
@{
    List<WA_Posts> listPostFeatured = ViewBag.ListPostFeatured;
}

<div class="featured-left-n-right">
    <div class="featured-left">
        <div class="featured-inner">
            <div class="featured-content section" id="FeaturedXLarge-2">
                <div class="widget-content">
                    <div class="tl-recentMag tl-postCarousel topCar" data-label="Entertainment" data-results="6">
                        @helper RenderPostFeatured(WA_Posts post)
                        {
                            string img = "#";
                            img = post.Picture ?? "#";
                            <div class="car-item">
                                <div class="tl-magMedia">
                                    <a class="featured-thumb" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                        <img src="@Url.Content(img)">
                                    </a>
                                </div>
                                <div class="topCaro-meta">
                                    <h3>
                                        <a title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">@post.Title</a>
                                    </h3><span class="car-author"><span class="authorname"><i class="fa fa-user"></i> @(post.WA_Users == null ? "Người nặc danh" : post.WA_Users.UserName)</span></span>
                                </div>
                            </div>
                        }
                        <div class="tl-wspace">
                            <div class="car-inner owl-carousel owl-theme owl-loaded">

                                @for (int i = 3; i < listPostFeatured.Count; i++)
                                {
                                    @RenderPostFeatured(listPostFeatured[i])
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        
                        $(".tl-postCarousel.topCar .car-inner").owlCarousel(
                        {
                            autoplay: true,
                            loop: true,
                            rtl: false,
                            autoplayHoverPause: true,
                            nav: true,
                            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
                            items: 1,
                            autoHeight: false,
                            dots: false,
                            transitionStyle: "fade"
                        });
                    });
                </script>

                <script>
                        //$(document).ready(function() {
                        //    var owl = $('.tl-postCarousel').owlCarousel({
                        //        autoplay: true,
                        //        autoplayTimeout:5000,
                        //        items:1,
                        //        loop:true,
                        //        dotsClass: ""

                        //    });
                            
                        //    // Go to the next item
                        //    $('.owl-next').click(function() {
                        //        owl.trigger('next.owl.carousel');
                        //    });
                        //    // Go to the previous item
                        //    $('.owl-prev').click(function() {
                        //        // With optional speed parameter
                        //        // Parameters has to be in square bracket '[]'
                        //        owl.trigger('prev.owl.carousel', [300]);
                        //    })
                        //});
                    </script>

                    <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="featured-right">
        <div class="featured-right-inner">
            <div class="featured-two-col">
                <div class="featured-small">
                    <div class="featured-inner">
                        <div class="featured-content section" id="FeaturedSmall-3">
                            <div class="widget HTML" data-version="1" id="HTML16">
                                <div class="widget-content">
                                    <div class="featuredContent tl-featuredMag" data-label="Gaming">
                                        <div class="tl-topost tl-magMedia">
                                            @{
                                                WA_Posts post = listPostFeatured[1];
                                                WA_Blogs blog = post.WA_Blogs.ToList()[0];
                                                string img = "#";
                                                img = post.Picture ?? "#";
                                                DateTime dateCreated = DateTime.Now;
                                                dateCreated = post.Created;
                                                
                                            }
                                            <a class="tl-topost-cat" href="@Url.RouteUrl("ViewPostsInBlogs", new { id = blog.BlogID, title = UrlEncode.ToFriendlyUrl(blog.Name) })">@blog.Name</a>
                                            <div class="tl-topost-item">
                                                <a class="featured-thumb" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                                    <img src="@Url.Content(img)">
                                                </a>
                                                <div class="top-right-content">
                                                    <a class="tl-topost-item-link" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                                        <h3>@post.Title</h3>
                                                    </a>
                                                    <div class="top-right-meta">
                                                        <span class="authorname"><i class="fa fa-user"></i> @(post.WA_Users == null ? "Người nặc danh" : post.WA_Users.UserName)</span> 
                                                        <span class="recentdate"><i class="fa fa-calendar"></i> @dateCreated.ToString("dd-MM-yyyy")</span> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-small last-child">
                    <div class="featured-inner">
                        <div class="featured-content section" id="FeaturedSmall-4">
                            <div class="widget HTML" data-version="1" id="HTML199">
                                <div class="widget-content">
                                    <div class="featuredContent tl-featuredMag" data-label="Fashion">
                                        <div class="tl-topost tl-magMedia">
                                            @{
                                                post = listPostFeatured[2];
                                                blog = post.WA_Blogs.ToList()[0];
                                                img = "#";
                                                img = post.Picture ?? "#";
                                                dateCreated = DateTime.Now;
                                                dateCreated = post.Created;

                                            }
                                            <a class="tl-topost-cat" href="@Url.RouteUrl("ViewPostsInBlogs", new { id = blog.BlogID, title = UrlEncode.ToFriendlyUrl(blog.Name) })">@blog.Name</a>
                                            <div class="tl-topost-item">
                                                <a class="featured-thumb" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                                    <img src="@Url.Content(img)">
                                                </a>
                                                <div class="top-right-content">
                                                    <a class="tl-topost-item-link" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                                        <h3>@post.Title</h3>
                                                    </a>
                                                    <div class="top-right-meta">
                                                        <span class="authorname"><i class="fa fa-user"></i> @(post.WA_Users == null ? "Người nặc danh" : post.WA_Users.UserName)</span>
                                                        <span class="recentdate"><i class="fa fa-calendar"></i> @dateCreated.ToString("dd-MM-yyyy")</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-one-col">
                <div class="featured-large">
                    <div class="featured-inner">
                        <div class="featured-content section" id="FeaturedLarge-5">
                            <div class="widget HTML" data-version="1" id="HTML17">
                                <div class="widget-content">
                                    <div class="featuredContent tl-featuredMag" data-label="Music">
                                        <div class="tl-topost tl-magMedia">
                                            @{
                                                post = listPostFeatured[0];
                                                blog = post.WA_Blogs.ToList()[0];
                                                img = "#";
                                                img = post.Picture ?? "#";
                                                dateCreated = DateTime.Now;
                                                dateCreated = post.Created;

                                            }
                                            <a class="tl-topost-cat" href="@Url.RouteUrl("ViewPostsInBlogs", new { id = blog.BlogID, title = UrlEncode.ToFriendlyUrl(blog.Name) })">@blog.Name</a>
                                            <div class="tl-topost-item">
                                                <a class="featured-thumb" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                                    <img src="@Url.Content(img)">
                                                </a>
                                                <div class="top-right-content">
                                                    <a class="tl-topost-item-link" title="@post.Title" href="@Url.RouteUrl("ViewPost", new {id = post.PostID, title = UrlEncode.ToFriendlyUrl(post.Title)})">
                                                        <h3>@post.Title</h3>
                                                    </a>
                                                    <div class="top-right-meta">
                                                        <span class="authorname"><i class="fa fa-user"></i> @(post.WA_Users == null ? "Người nặc danh" : post.WA_Users.UserName)</span>
                                                        <span class="recentdate"><i class="fa fa-calendar"></i> @dateCreated.ToString("dd-MM-yyyy")</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
