@using WA_Blogers_MVC.Models;
@using WebGrease.Css.Extensions
@{
    WA_BlogerEntities db = new WA_BlogerEntities();
    var option = db.WA_Options.FirstOrDefault(x => x.Name.Equals("ListBlogsPopular"));
    if (option != null)
    {
        string[] listIDBlog = option.Value.Split(';');

        var listBlogs = new List<WA_Blogs>();
        for (int i = 0; i < listIDBlog.Length; i++)
        {
            listBlogs.Add(db.WA_Blogs.Find(int.Parse(listIDBlog[i])));
        }
        
<div class="top-two-col two-col-content tag-posts">
    <div class="two-col-mag mag-posts">
        @for (int i = 0; i < listBlogs.Count; i++)
        {
            var idTopWidget = i%2 == 0 ? "TopWidgets-S2L" : "TopWidgets-S2R";
            var blog = listBlogs[i];
            var listPost = blog.WA_Posts.OrderByDescending(x => x.Created).ToList();
            <div class="col-seprate half-cols">
            <div class="topsmag two-grid section" id="@idTopWidget">
                <div class="widget HTML" data-version="1" id="HTML50">
                    <div class="widget-content">
                        <div class="tl-recentMag tl-recentHeadline tl-recentH-S1" data-label="@blog.Name" data-results="4">
                            <div class="tl-recentLink headlinehead">
                                <div class="tl-recentText">
                                    <span class="tl-headtext">
                                    <i class="fa fa-rss"></i> @blog.Name </span><span class="tl-headtextHover">
                                        <i class="fa fa-rss"></i> @blog.Name
                                    </span>
                                </div>
                                <a href="@Url.RouteUrl("ViewPostsInBlogs", new {id = blog.BlogID, title = UrlEncode.ToFriendlyUrl(blog.Name)})" class="tl-headlinks">Xem thêm <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            
                            <div class="tl-wspace">
                                <div class="tl-headlineWrap">
                                    <div class="headline">
                                        <div class="tl-magMedia">
                                            <a class="featured-thumb" title="Broken  Shadows" href="@Url.RouteUrl("ViewPost",new{id=listPost[0].PostID, title=UrlEncode.ToFriendlyUrl(listPost[0].Title)})">
                                                @{
                                                    string img = "#";
                                                    img = String.IsNullOrEmpty(listPost[0].Picture) ?"#": listPost[0].Picture;
                                                }
                                                <img src="@Url.Content(@img)" alt="@listPost[0].Title">
                                            </a>
                                        </div>
                                        <h3>
                                            <a href="@Url.RouteUrl("ViewPost",new{id=listPost[0].PostID, title=UrlEncode.ToFriendlyUrl(listPost[0].Title)})">@listPost[0].Title</a>
                                        </h3>
                                        <p>@listPost[0].Description</p>
                                        <div class="tl-headm">
                                            <span class="recentdate">
                                                <i class="fa fa-calendar"></i> @listPost[0].Created.ToString("dd-MM-yyyy")</span>  - <span class="authorname"><i class="fa fa-user"></i>@(listPost[0].WA_Users==null?"Người nặc danh":listPost[0].WA_Users.DisplayName)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tl-subheadWrap">
                                    <div class="subhead">
                                        @for (int j = 1; j < listPost.Count; j++)
                                        {
                                            <div class="container">
                                            <div class="imagewrap">
                                                <a class="featured-thumb" title="@listPost[j].Title" href="@Url.RouteUrl("ViewPost", new {id = listPost[j].PostID, title = UrlEncode.ToFriendlyUrl(listPost[j].Title)})">
                                                    @{
                                                        img = "#";
                                                        img = String.IsNullOrEmpty(listPost[j].Picture) ? "#" : listPost[j].Picture;
                                                    }
                                                    <img src="@Url.Content(@img)" alt="@listPost[j].Title" width="72" height="72">
                                                </a>
                                            </div>
                                            <div class="recentcontent">
                                                <h3>
                                                    <a href="@Url.RouteUrl("ViewPost",new{id=listPost[j].PostID, title=UrlEncode.ToFriendlyUrl(listPost[j].Title)})">@listPost[j].Title </a>
                                                </h3>
                                                <div class="metadata"><span class="recentdate"><i class="fa fa-calendar"></i> @listPost[j].Created.ToString("dd-MM-yyyy")</span>  - <span class="authorname"><i class="fa fa-user"></i> @(listPost[j].WA_Users == null ? "Người nặc danh" : listPost[j].WA_Users.DisplayName)</span></div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
    }

}


