@model WA_Blogers_MVC.Models.WA_Users

@{
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}
@{
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;
            photo.Save(@"~\" + imagePath);
        }
    }
}

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserID)
    <table class="table table-bordered table-striped ">
            <tr>
                <td><h2><b>Chỉnh Sửa Người Dùng</b></h2></td>

            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DisplayName)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Avatar, new { @class = "control-label col-md-2" })
                        <fieldset>
                            <div class="col-md-10">
                                @Html.TextBox("file", "", new { type = "file", id = "uploadFile" })<br />
                                <img width="100" height="100" id="imgshow" src="@Url.Content("~/Content/images/avatar/"+Model.Avatar)" />
                            </div>
                        </fieldset>
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-warning" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
            </div>
            
        </div>
    

    
}
<div>
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgshow').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploadFile").change(function () {
            readURL(this);
        });
    </script>
</div>

