@using WA_Blogers_MVC.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
    WA_BlogerEntities db = new WA_BlogerEntities();
}

@Styles.Render("~/Content/test/style.css")
<h3>Tùy chỉnh trang chủ</h3>
<div class="container">
    <script>
        $(function () {
            $('.navigation-button').click(function () {
                $('.navigation .widget-content').slideToggle();
                $(this).toggleClass('active');
            });
            $('.dropdown-button').click(function () {
                $('.dropdown .widget-content').slideToggle();
                $(this).toggleClass('active');
            });
        });
    </script>
        <h2>Quản lý Header</h2>
            <div class="form-group">
                <button class="btn btn-default" data-toggle="modal" data-target="#modalOptionTopMenu">Tùy chỉnh TopMenu</button>
                <button class="btn btn-default" data-toggle="modal" data-target="#modalOptionLogo">Tùy chỉnh Logo &amp; Adbanner</button>
                <button class="btn btn-default">Tùy chỉnh TopNew</button>
            </div>
        <div class="container">
            <h4>Header trang chủ</h4>
            @Html.Partial("TopHeader")
        </div>
    </div>
@* Modal Option TopMenu *@
<div class="modal fade" id="modalOptionTopMenu" role="dialog">
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Tùy chọn TopMenu</h4>
        </div>
        <div class="modal-body" style="min-width: 100px;">
            <h2>TopMenu</h2>
            @{
                var listTopNav = db.WA_Options.Where(x => x.Group.Equals("Topnav")).ToList();
            }
            <div id="editTopNav" style="display: flow-root;">
                <div class="col-md-4 col-xs-4">
                    <label>Tên hiển thị</label>
                </div>
                <div class="col-md-7 col-xs-7">
                    <label>Đường dẫn</label>
                </div>
                <div class="col-md-1 col-xs-1">

                </div>
                <div id="contentTopNavOption">
                    @for (int i = 0; i < listTopNav.Count; i++)
                    {
                        <div class="row" style="margin-left: auto; margin-right: auto;">
                            <div class="col-md-4 col-xs-4">
                                <input class="form-control" placeholder="Tên hiển thị" name="listNameTopNav" value="@listTopNav[i].Name"/>
                            </div>
                            <div class="col-md-7 col-xs-7">
                                <input class="form-control" name="listUrlTopNav" value="@listTopNav[i].Value"/>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <a href="#" class="removeMenuTopNav"><span><i class="fa fa-times" aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="pull-right">
                    <button class="btn btn-default" onclick=" AddPageTopNew() ">Thêm trang</button>
                </div>
            </div>
            <div id="topSocical">
                <h2>Top Social</h2>
                <table class="table table-bordered" style="table-layout: fixed;" id="tableSocical">
                    <tr>
                        <th style="width: 130px;">MXH</th>
                        <th >Đường dẫn</th>
                        <th style="width: 40px;"></th>
                    </tr>
                    @{
                        var selectList = new List<SelectListItem>();
                        selectList.Add(new SelectListItem {Text = "Facebook", Value = "facebook"});
                        selectList.Add(new SelectListItem {Text = "Twitter", Value = "twitter"});
                        selectList.Add(new SelectListItem {Text = "Google+", Value = "google"});
                        selectList.Add(new SelectListItem {Text = "Pinterest", Value = "pinterest"});
                        selectList.Add(new SelectListItem {Text = "Github", Value = "github"});
                        selectList.Add(new SelectListItem {Text = "Dribbble", Value = "dribbble"});
                        selectList.Add(new SelectListItem {Text = "Dribbble", Value = "dribbble"});
                        selectList.Add(new SelectListItem {Text = "VK", Value = "vk"});


                        var listSocical = db.WA_Options.Where(x => x.Group.Equals("TopnavSocical")).ToList();
                        if (listTopNav != null)
                        {
                            for (int i = 0; i < listSocical.Count; i++)
                            {
                                <tr class="social">
                                    @{
                                        foreach (SelectListItem item in selectList)
                                        {
                                            if (item.Value == listSocical[i].Name)
                                            {
                                                item.Selected = true;
                                                break;
                                            }

                                        }
                                    }
                                    <td>@Html.DropDownList("MXH", selectList, new {@class = "form-control"})</td>
                                    <td><input type="url" placeholder="Đường dẫn" name="socialUrl" class="form-control" value="@listSocical[i].Value"/></td>
                                    <td style="vertical-align: middle;"><a href="#" class="removeSocial"><span><i class="fa fa-times" aria-hidden="true"></i></span></a></td>
                                </tr>
                            }
                        }
                    }


                </table>

                <div class="pull-right">
                    <button class="btn btn-default" onclick=" AddSocial() ">Thêm Socical</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" onclick=" SaveEditTopNav() " id="btnSaveEditTopNav">Lưu Thay Đổi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


    @* Options TopNav *@
<script>
 
        function AddPageTopNew(){
            var div = `
                <div class="row" style="margin-left: auto; margin-right: auto;">
                        <div class="col-md-4 col-xs-4">
                            <input class="form-control" placeholder="Tên hiển thị" name="listNameTopNav"/>
                        </div>
                        <div class="col-md-7 col-xs-7">
                            <input class="form-control" placeholder="Đường dẫn" name="listUrlTopNav" />
                        </div>
                        <div class="col-md-1 col-xs-1">
                                    <a href="#" class="removeMenuTopNav"><span><i class="fa fa-times" aria-hidden="true"></i></span></a>
                                </div></div>`;
                                    $("#contentTopNavOption").append(div);
                                    $(".removeMenuTopNav").click(function(event) {
                                        event.preventDefault();
                                        $(this).closest('.row').remove();
                                    });
      
        }
        function AddSocial() {
            var tr = `<tr class="social">
                                <td>@Html.DropDownList("MXH", selectList, new { @class = "form-control" })</td>
                                <td><input type="url" name="socialUrl" placeholder="Đường dẫn" class="form-control" /></td>
                                <td style="vertical-align: middle;"><a href="#" class="removeSocial"><span><i class="fa fa-times" aria-hidden="true"></i></span></a></td>
                            </tr>`;
                                $("#tableSocical").append(tr);
                                $(".removeSocial").click(function(event) {
                                    event.preventDefault();
                                    $(this).closest('.social').remove();
                                });
        }
        $(function() {
            $(".removeMenuTopNav").click(function(event) {
                event.preventDefault();
                $(this).closest('.row').remove();
            });
            
            $(".removeSocial").click(function(event) {
                event.preventDefault();
                $(this).closest('.social').remove();
            });
        });
        function SaveEditTopNav(){
            jQuery.ajaxSettings.traditional = true;
            var listNameTop =[];
            
            $("input[name=listNameTopNav]").each(function() {
                listNameTop.push($(this).val());
            });
            var listUrlTop=[];
            $("input[name=listUrlTopNav]").each(function() {
                listUrlTop.push($(this).val());
            });
            var listSocialName = [];
            $("select[name=MXH]").each(function() {
                listSocialName.push($(this).val());
            });
            var listUrlSocial = [];
            $("input[name=socialUrl]").each(function() {
                listUrlSocial.push($(this).val());
            });
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: "@Url.Action("ChangeTopNav")",
                data: {
                    'listNameTopNav': listNameTop,
                    'listUrlTopNav': listUrlTop,
                    'listSocialName':listSocialName,
                    'listSocialUrl':listUrlSocial
                },
            beforeSend: function () {
                $("#btnSaveEditTopNav").prop('disabled', true);
                $("#btnSaveEditTopNav").html(" Lưu thay đổi <i class=\"fa fa-refresh fa-spin fa-fw\" aria-hidden=\"true\"></i>");

            },
            success: function (data) {
                if (data.length == 0) {
                    $(".topnav").hide();
                    $("#btnSaveEditTopNav").prop('disabled', false);
                    $("#btnSaveEditTopNav").html(" Lưu thay đổi ");
                    $("#modalOptionTopMenu").modal('hide');
                }
                else{
                    $(".topnav").show();
                    $("#topMenuNav").html("");
                    $("#listsocial").html("");
                    for (var i = 0; i < data.length; i++) {
                        if(data[i]["Group"]=="Topnav")
                            $("#topMenuNav").append(`<li><a href="`+data[i]["Value"]+`">`+data[i]["Name"]+`</a></li>`);
                        else $("#listsocial").append(`<li><a href="`+data[i]["Value"]+`"><i class="fa fa-`+data[i]["Name"]+`"></i></a>
                                                   </li>`);
                    }
                    $("#btnSaveEditTopNav").prop('disabled', false);
                    $("#btnSaveEditTopNav").html(" Lưu thay đổi ");
                    $("#modalOptionTopMenu").modal('hide');
                    }

            },
                error:function(data) {
                    alert(data);
                    $("#btnSaveEditTopNav").prop('disabled', false);
                    $("#btnSaveEditTopNav").html(" Lưu thay đổi ");
                }

        });
        }
    </script>
</div>

@* Modal Option Logo & Ad *@

<!-- Modal -->
<div id="modalOptionLogo" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tùy chỉnh Logo &amp; Adbanner</h4>
            </div>
            <div class="modal-body">
                @{
                    var logoPage = db.WA_Options.FirstOrDefault(x => x.Name.Equals("logo"));
                    var time = db.WA_Options.FirstOrDefault(x => x.Name.Equals("timeclock"));
                    string img = "#";
                    if (logoPage != null)
                    {
                        img = logoPage.Value;
                    }
                }
                @using (Html.BeginForm("ChangeMidleTop", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmMiddle" }))
{
    <label id="lbLogo" style="width: 300px; height: 90px; display: block; text-align: center;background-image: url(@Url.Content("~/Public/"+img)) ; background-size:100%;">
        <input type="file" name="logoPage" id="uploadLogo" class="hidden" />
        <p style="padding-top: 60px; color: red;">Click vào hình để có thể chọn hình</p>
    </label>
                <div class="col-md-10 col-xs-10" style="padding: 0">
                    <h2 style="margin: 5px 0px;">Sử dụng đồng hồ</h2>
                </div>

    <input class="col-md-2 col-xs-2" type="checkbox" id="useClock" name="useClock" @(time != null ? "checked" : "") value="@(time != null ? "true" : "false")" data-toggle="toggle">
    <input type="text" id="useClock" name="useClock" value="@(time != null ? "true" : "false")" hidden />
                <div id="contenAd" style="display:@(time == null ? "block" : "none");">
                    @{
    var linkAd = db.WA_Options.Where(x => x.Group.Equals("Ads") && x.Name.Equals("AdsLink")).Select(x => x.Value).FirstOrDefault();
    var imageAd = db.WA_Options.Where(x => x.Group.Equals("Ads") && x.Name.Equals("AdsImage")).Select(x => x.Value).FirstOrDefault();
                    }
                    <label id="lbAd" style="width: 100%; height: 90px; display: block; text-align: center; background-image: url(@Url.Content("~/Public/" + imageAd)) ; background-size:100%;">
                        <input type="file" name="imgAd" id="uploadAd" class="hidden" />
                        <p style="padding-top: 60px; color: red;" id="smallLogo">Click vào hình để có thể chọn hình</p>
                    </label>
                    <div class="form-group">
                        <label for="txtUrlAd" class="col-md-4 col-xs-4" >Đường dẫn Ads</label>
                        <div class="col-md-8 col-xs-8">
                            <input name="txtUrlAd" id="txtUrlAd" value="@linkAd" placeholder="Đường dẫn Ads" type="url" class="form-control" />
                        </div>
                    </div>

                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" form="frmMiddle" class="btn btn-warning" >Lưu tùy chọn</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
    <script>
        function readURL(input, label) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(label).css('background-image',"url("+e.target.result+")");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploadLogo").change(function () {
            readURL(this,'#lbLogo');
        });
        $("#uploadAd").change(function () {
            readURL(this,'#lbAd');
        });
        $('#useClock').change(function() {
            if($(this).prop('checked'))
            {
                $("#contenAd").hide();
                $("input[name=useClock]").val("true");
            }
            else {
                $("#contenAd").show();
                $("input[name=useClock]").val("false");
            }

        });

    </script>
</div>


